/* src/App.css */

html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

main {
  flex: 1; /* This makes the main content area take up the remaining space */
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.footer p {
  margin: 0;
  color: #333;
}
